<div class="container">
	<h3 class="text-primary">About Tien</h3>

	<p>Currently residing in Seattle by way of Chicago and Miami, I majored in Chemistry and Mathematics at the University of Miami. After a work history of basic science research that spanned microbial genetics and stroke research, I dived into the fantastical world of computer science. I have a huge passion for low-level coding, building scalable and secure applications in pioneering frameworks, and riding the bleeding-edge of emergent technologies in what I study and apply.</p>

	<div class="row">
		<div class="col-sm-4">
			<%=  image_tag "tien_profile.jpeg", class: "img-profile img-responsive img-thumbnail" %>
		</div>

		<div class="col-sm-8">
			<h4 class="text-primary">Things I love:</h4>
			<ul>
				<li>JavaScript! (NodeJS, ExpressJS, AngularJS, D3JS)</li>
				<li>Ruby on Rails</li>
				<li>Algorithm challenges</li>
				<li>Physics engines</li>
				<li>Digital signal processing</li>
				<li>Hacking APIs</li>
				<li>Wearable technology</li>
				<li>Autodidactism and learning to learn quickly</li>
				<li>Working in teams</li>
				<li>Teaching</li>
			</ul>
		</div>
	</div>

	<p>I grew up without cable or videogames, and had to learn to be creative in how I entertain myself. To the dismay of my parents, I took apart my first radio because there was nothing else to do after school that day. The thrill of trying to understand what was happening underneath, coupled with the excitement of figuring out how to put it back together again (in possibly better ways) meant that I developed a passion for <strong class="text-primary">problem-solving</strong> at an early age. As I grew older, radios and TVs became DNA and chromosomes and mathematical laws and chemical reactions. Shortly after moving to the Pacific Northwest in late 2014, my focus transitioned to <strong class="text-primary">code</strong>.</p>

	<h3 class="text-primary">My name is Tien, and I'd love to take a whack at your problems.</h3>
</div>