<!-- Main jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>the<span class="text-primary">Wall</span></h1>
		<div class="row">
			<div class="col-sm-4">
				<p><span class="text-primary">Built on Rails</span> with RESTful principles. I built this fun clone in a few days to demo what can be done with the framework.</p>
			</div>
			<div class="col-sm-4">
				<p><span class="text-primary">Active Record</span> design emphasizes a "fat model, skinny controller" approach that keeps methods clean and DRY.</p>
			</div>
			<div class="col-sm-4">
				<p><span class="text-primary">Connect</span> with friends via requests and see their recent activities. Receive notifications on posts and comments.</p>
			</div>
		</div>
		<p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Register &raquo;</a></p>
	</div>
</div>