<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3 class="text-primary">Register</h3>
			<%= render 'registration' %>
		</div>
		<div class="col-sm-6">
			<h3 class="text-primary">Login</h3>
			<%= render 'login' %>
		</div>
	</div>
</div>
